<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <div><img style="margin-left:auto;margin-right:auto;" src="{{site.baseurl}}/public/tamper-logo.png" width=100/></div>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <a href="{{ site.github.repo }}/wiki">Wiki</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
    </ul>

    <p style="font-size:14px;">Part of the <a href="http://newsdev.github.io/pourover" style="color: rgba(255, 255, 255, 0.498039);"><img src="{{site.baseurl}}/public/pourover.png" style="width:25px; display: inline; margin: 0 4px; position: relative; top: 6px;">pourover.js family</a>.</p>
  </div>
</div>